.MuiStepIcon-root.MuiStepIcon-active {
  color: #3e5f8c !important;
}
.MuiStepIcon-root.MuiStepIcon-completed {
  color: #76879f !important;
}
.citas_row .form-check-label {
  width: auto;
  border-radius: 3px;
  border: 1px solid #d1d3d4;
  font-weight: normal;
  margin-bottom: 5px;
  text-align: center;
  padding: 10px;
}
.visanetlink{
  width: 100%;
  height: 750px;
}
