@import "../../../sass/app.scss";
.footer_web {
  background-color: $plomo_footer_suave;
}
.footer_web_2 {
  background-color: $plomo_footer_fuerte;
}
.footer_web a {
  color: $color_blanco;
  font-size: 12px;
  text-decoration: none;
}
.footer_web_datos {
  color: $color_plomo_letra;
  text-transform: uppercase;
  font-size: 12px;
}
.footer_web_datos_w {
  color: $color_blanco;
  text-transform: uppercase;
  font-size: 12px;
}
